<!DOCTYPE html>
<html lang="ja">
<head>
    <title>top</title>
    <link rel="stylesheet" href="index.css" type="text/css">
</head>
<body>
    <div id="pdf-div">
        <iframe id="pdf-frame" src="pdf-viewer"></iframe>
    </div>
    <div id="shotting-div">
        <iframe src="shotting"></iframe>
    </div>
</body>
</html>