<!DOCTYPE html>
<html lang="ja">
<head>
    <title>top</title>
    <link rel="stylesheet" href="index.css" type="text/css">
    <meta charset="UTF-8"/>
</head>
<body style="width: 100%;">
    <div id="pdf-div">
        <iframe id="pdf-frame" src="pdf-viewer"></iframe>
    </div>
    <div id="shotting-div">
        <iframe src="shotting"></iframe>
    </div>
</body>
</html>