<!DOCTYPE html>
<html lang="ja">

<head>
    <style>
        /*.container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            float: left;
            height: 100vh;
            overflow: scroll;
        }*/

        .test {
            display: flex;
            flex-direction: row;
        }

        #figures {
            flex-direction: column;
            overflow: scroll;
            width: 15%;
        }

        #figures img {
            display: block;
            margin: 3px;
        }

        /*#pdf-viewer {
            position: relative;
            overflow: scroll;
            width: 612px;
            height: 792px;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
        }*/

        /*#pdf-viewer canvas {
            display: inline-block;
        }*/

        #pdf-viewer .img-wrapper img {
            width: 100%;
            height: 100%;
        }

        #pdf-viewer .img-wrapper img:hover {
            cursor: move;
        }

        #pdf-viewer .img-wrapper {
            position: absolute;
            width: fit-content;
            height: auto;
        }

        .resizable {
            resize: both;
            overflow: hidden;
        }

        .selected {
            border: 1px solid blue;
            transform: translate(-1px, -1px);
            resize: both;
            overflow: hidden;
            z-index: 100;
        }

        button {
            width: fit-content;
        }

        * {
            margin: 0;
        }

        body {
            display: flex;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        nav {
            width: 200px;
            border-right: 1px solid black;
        }

        #pdfs {
            overflow-x: scroll;
            height: 100%;
        }

        #pdfs li {
            white-space: nowrap;
        }

        ul {
            list-style-type: none;
        }

        header {
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: center;
        }

        .contents {
            display: flex;
        }

        .content {
            height: 100vh;
            overflow-y: auto;
        }

        #pdf-viewer {
            position: relative;
            display: flex;
            width: 612px;
            flex-direction: column;
            justify-content: center;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"
        integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"
        integrity="sha512-q+4liFwdPC/bNdhUpZx6aXDx/h77yEQtn4I1slHydcbZK34nLaR3cAeYSJshoxIOq3mjEf7xJE8YWIUHMn+oCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.worker.min.js"
        integrity="sha512-BbrZ76UNZq5BhH7LL7pn9A4TKQpQeNCHOo65/akfelcIBbcVvYWOFQKPXIrykE3qZxYjmDX573oa4Ywsc7rpTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <nav class="side-menu">
        <h1>ドキュメント</h1>
        <ul id="pdfs"></ul>
    </nav>
    <div style="width: 100%;">
        <header>
            <form method="post" action="/edit-data" id="edit-data">
                <input type="hidden" name="edit-data" value="">
                <input type="button" id="save" value="編集を保存">
            </form>
            <button id="download">ダウンロード</button>
            <form method="post" enctype="multipart/form-data" action="/pdf-upload" id="pdf-form">
                <input type="file" id="upload" name="pdf" accept="application/pdf" />
                <input type="button" id="submit" value="アップロード" />
            </form>
        </header>
        <main>
            <div class="container">
                <div class="contents">
                    <div class="content" id="figures">
                        <script>
                            function removeExistingImages() {
                                let images = document.getElementById("figures").getElementsByTagName("img");
                                while (images.length > 0) {
                                    images[0].parentNode.removeChild(images[0]);
                                }
                            }

                            function loadClips() {
                                fetch("/get-clip-names").then(res => {
                                    return res.text();
                                }).then(data => {
                                    (async () => {
                                        for (_filename of data.split(",")) {
                                            const filename = _filename;
                                            const res = await fetch(`/get-clip/${filename}`);
                                            const buffer = await res.arrayBuffer();
                                            const url = await URL.createObjectURL(new Blob([buffer], { type: "image/png" }));
                                            figures.innerHTML += `<img src="${url}" name="${filename}">`;
                                        }
                                    })();
                                });
                            }

                            let figures = document.getElementById("figures");

                            function chk(url) {
                                return new Promise(function (resolve, reject) {
                                    const img = new Image();
                                    img.src = url;
                                    img.onload = function () { return resolve(url) };
                                    img.onerror = function () { return reject(url) };
                                });
                            };

                            function loadFigures(i) {
                                let url = `figures/${i}.png`;
                                chk(url)
                                    .then((url) => {
                                        figures.innerHTML += `<img src="${url}">`;
                                        loadFigures(i + 1);
                                    })
                                    .catch((url) => {
                                        //console.log(i, "not found");
                                    });
                            }

                            function loadImages() {
                                removeExistingImages();
                                loadClips();
                            }

                            loadImages();
                        </script>
                    </div>
                    <div class="content" id="viewer-wrapper" style="width: 85%;">
                        <div id="pdf-viewer">
                            <!--<div class="resizable"><img src="fig1.png"></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="pdf-viewer.js"></script>
</body>

<!--
    機能から誰が何をできてうれしいのか、というのが価値

    欲しいー＞なぜ？の深堀。何を達成したいのかを把握する
-->

</html>