<!DOCTYPE html>
<html lang="ja">
<head>
    <title>top</title>
    <link rel="stylesheet" href="top.css" type="text/css">
</head>
<body>
    <div id="pdf-list-div">
        <option>pdf1</option>
        <option>pdf2</option>
    </div>
    <div id="shotting-div">
        <iframe src="shotting"></iframe>
    </div>
    <div id="pdf-div">
        <iframe id="pdf-frame" src="index"></iframe>
    </div>
</body>
</html>