@charset "utf-8";
.container{
    width: 100%;
    /* display: flex; */
}
.camera-side{
    /* flex: 1; */
    border: 1px solid black;
    width: fit-content;
    /* display: flex; */
    /* justify-content: center; */
}
#camera-div{
    position: relative;
}
.result-side{
    /* flex: 1; */
    border: solid;
    width: fit-content;
}
#clipping-frame{
    position: absolute;
    border-color: black;
    transform: translate(-50%, -50%);
}
h1{
    margin: 10px;
}
/* #result-div{
    display: flex;
    flex-flow: column;
    justify-content: center;
} */
#org-clip{
    overflow: hidden;
    display: block;
}

div.clip{
    position: absolute;
    border: blue 5px;
    border-color: black;
}